#root {
  max-width: 1920;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
.transall {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.transall:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.FadeIn {
  animation: fade 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeInBlur {
  animation-name: fadeBlur;
  animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes fadeBlur {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 3px;
}
::-webkit-scrollbar-thumb:hover {
}
